<h1>SIGNUP</h1>
<form method="POST" action="/signup">
  <input type="email" placeholder="email" name="email" />
  <input type="password" placeholder="password" name="password" />
  <button type="submit">submit</button>
</form>
<a href="/login">INGRESAR</a>